 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .navbar {
     margin-bottom: 80px;
 }

 #content {
     padding-top: 70px;
     padding-bottom: 100px;
     background-color: #eeeeee;
     height: 100%;
     height: calc(100vh - 70px);
 }

 .content-box {
     background-color: #ffffff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     position: relative;
 }

 #alert-container {
     position: fixed;
     top: 10px;
     left: 0;
     right: 0;
     z-index: 9999;
     width: 70%;
     margin-left: 15%
 }

 table {
     font-size: 0.8rem;
 }

 .btn-nav {
     font-size: 0.9rem;
     padding: 5px 10px;
     width: 150px;
 }